[submodule "dump978"]
	path = dump978
	url = https://github.com/ankurvdev/dump978
[submodule "rtl-sdr"]
	path = rtl-sdr
	url = https://github.com/ankurvdev/rtl-sdr
[submodule "libusb-cmake"]
	path = libusb-cmake
	url = https://github.com/ankurvdev/libusb-cmake
[submodule "dump1090"]
	path = dump1090
	url = https://github.com/flightaware/dump1090
